@import 'vars';

body {
  background: $bg;
}

@keyframes zoom {
  from {transform: scale(1);}
  to {transform: scale(1.2);}
}
.ship_card {
  height: 100%;
  max-width: 300px;

  &.winner {
    animation: zoom 1s ease-in .5s forwards;
  }

  .card-body {
    display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .card_value {
    font-size: 120%;
    padding: 13px;
    white-space: pre-wrap;
  }
}

.counter {
  font-size: 2.8rem;
  color: $font_white;
  margin: auto;
}

.btn[disabled] {
  background: $btn_gray;
  border-color: $btn_gray;
}

//preloader
@keyframes rotate {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}
.preload_wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 22;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, .7);
  color: $preloader;

  svg {
    animation: rotate 2s ease-in 0s infinite;
    width: 15%;

    path {
      fill: $preloader;
    }
  }
}
//preloader

.main_btn_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font_white;
}

.result_badge {
  font-size: 2em;
  margin: auto;
}

.star_txt {
  transform: perspective(300px) rotateX(20deg);
}
.intro_hdr_wrap {
  width: 100%;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 4em;

    a {
      color: #feda4a;
    }
  }
}
