<div class="card ship_card m-auto {{if @ship.won "winner"}}">
  {{!-- todo component image --}}
  <Card::Image
    @shipName={{@ship.name}}/>
  <div class="card-body">
    <h5 class="card-title d-flex flex-wrap align-items-center">{{@ship.name}}
      {{#if @ship.won}}
        <span class="badge badge-success card_value ml-auto p-2 my-2">Wins!</span>
      {{/if}}
    </h5>
    <p class="card-text">Model: {{@ship.model}}</p>
    <p class="card-text">Class: {{@ship.starship_class}}</p>
    <span class="badge badge-warning card_value">Spaceship {{@criteria}}: {{get @ship @criteria}}</span>
  </div>
</div>
