<div class="preload_wrap">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 213.652 213.652" style="enable-background:new 0 0 213.652 213.652;" xml:space="preserve">
<path d="M106.826,213.652c-0.378,0-0.757-0.007-1.142-0.021c-3.864-0.143-17.262-0.781-27.405-3.01
	c-12.45-2.736-19.411-4.522-25.294-7.268c-4.635-2.164-6.084-5.398-6.531-7.397c-4.644-1.036-19.254-4.993-30.908-15.75
	c-4.998-4.614-7.912-9.053-9.585-12.889c-0.023-0.048-0.044-0.098-0.064-0.148c-2.993-6.964-1.898-11.904-1.824-12.22
	c0.027-0.113,0.064-0.224,0.11-0.332l35.816-82.71c-0.314-3.679-1.308-24.146,12.828-44.862C66.125,7.557,89.653,5.387,96.792,5.189
	V2c0-1.104,0.896-2,2-2h16.067c1.104,0,2,0.896,2,2v3.189c7.138,0.197,30.666,2.366,43.967,21.856
	c14.135,20.715,13.141,41.183,12.827,44.862l35.815,82.71c0.047,0.107,0.084,0.218,0.11,0.332c0.075,0.314,1.161,5.215-1.788,12.135
	c-0.039,0.12-0.089,0.236-0.15,0.347c-1.681,3.81-4.587,8.207-9.535,12.774c-11.654,10.757-26.264,14.714-30.907,15.75
	c-0.446,1.999-1.896,5.233-6.531,7.397c-5.885,2.746-12.845,4.531-25.294,7.268c-10.143,2.229-23.542,2.867-27.406,3.01
	C107.583,213.646,107.205,213.652,106.826,213.652z M50.24,194.007c0.018,0.127,0.023,0.259,0.016,0.392
	c-0.001,0.098-0.012,3.261,4.42,5.33c5.543,2.587,12.304,4.314,24.461,6.985c9.816,2.158,22.915,2.78,26.695,2.92
	c0.669,0.024,1.318,0.024,1.984,0c3.782-0.14,16.88-0.763,26.696-2.92c12.157-2.671,18.918-4.398,24.462-6.985
	c4.433-2.068,4.421-5.231,4.419-5.365c-0.003-0.114,0.005-0.226,0.021-0.336c-0.454-2.182-2.198-9.937-6.045-20.479
	c-3.266-8.948-8.076-16.328-10.485-19.723c-1.016,0.917-2.287,1.555-3.692,1.794c-1.223,1.865-7.064,10.257-16.845,16.189
	c-10.561,6.406-18.49,9.04-18.896,9.173c-0.2,0.066-0.411,0.101-0.626,0.101l0,0l0,0c-0.217,0-0.429-0.035-0.63-0.102
	c-0.456-0.149-8.367-2.788-18.893-9.172c-9.779-5.932-15.622-14.324-16.843-16.189c-1.406-0.239-2.678-0.878-3.694-1.794
	c-2.409,3.395-7.22,10.774-10.484,19.723C52.447,184.057,50.701,191.796,50.24,194.007z M9.938,166.435
	c1.518,3.197,4.072,6.91,8.321,10.832c10.307,9.514,23.415,13.414,28.348,14.611c0.533-2.374,1.599-6.693,3.415-12.385
	c0.368-1.261,2.38-8.93,2.373-25.768c-0.008-18.56-5.359-38.844-5.471-39.262c-0.004-0.016-0.008-0.032-0.012-0.048c0,0,0,0,0,0
	c0-0.001,0-0.002,0-0.003c-0.114-0.471-0.051-0.945,0.148-1.351c0-0.001,0.001-0.002,0.001-0.003c0,0,0,0,0,0
	c0.043-0.088,0.093-0.172,0.148-0.252c0.247-0.358,0.611-0.638,1.056-0.775c0.001,0,0.002,0,0.004-0.001l0,0
	c0.033-0.01,0.066-0.019,0.1-0.028c0.002,0,0.003,0,0.003,0c0.044-0.011,0.089-0.021,0.133-0.028l46.149-8.698
	c0.823-0.155,1.656,0.219,2.086,0.938c0.43,0.718,0.367,1.629-0.158,2.282l-25.235,31.343c-0.364,0.453-0.908,0.725-1.489,0.745
	c-0.599,0.008-1.143-0.214-1.537-0.641l-15.796-17.083c1.646,7.784,3.863,20.549,3.869,32.866c0.001,3.8-0.096,7.148-0.255,10.078
	c3.4-6.833,6.993-11.852,8.395-13.711c-0.136-0.558-0.208-1.141-0.208-1.74c0-4.066,3.308-7.375,7.375-7.375
	c2.079,0,3.959,0.864,5.301,2.252l22.623-39.486c1.646-2.872,4.243-4.519,7.128-4.519s5.482,1.647,7.128,4.519l2.974,5.19
	c0.025,0.04,0.049,0.081,0.07,0.123l19.635,34.269c1.347-1.444,3.266-2.348,5.392-2.348c4.066,0,7.375,3.309,7.375,7.375
	c0,0.6-0.072,1.183-0.208,1.741c1.476,1.957,5.374,7.408,8.921,14.787c-0.194-3.179-0.318-6.882-0.316-11.155
	c0.005-12.667,2.35-25.808,4.007-33.518l-16.398,17.735c-0.396,0.427-0.965,0.649-1.537,0.641c-0.581-0.02-1.125-0.292-1.489-0.745
	l-25.235-31.343c-0.525-0.653-0.589-1.563-0.158-2.282c0.43-0.718,1.255-1.096,2.086-0.938l46.048,8.678
	c0.238-0.025,0.486-0.009,0.734,0.057c1.066,0.286,1.7,1.382,1.414,2.449c-0.055,0.204-5.463,20.624-5.471,39.267
	c-0.009,18.439,2.406,25.883,2.43,25.956c0.155,0.463,0.131,0.943-0.034,1.365c1.521,4.924,2.443,8.677,2.927,10.83
	c4.938-1.203,18.064-5.117,28.348-14.609c4.244-3.918,6.794-7.634,8.312-10.838l-38.238-90.902
	c-1.017-1.435-10.149-13.701-26.165-15.303c-15.357-1.536-20.057,6.244-20.705,7.487c-0.203,1.475-1.132,4.963-5.379,6.622
	c-2.067,0.808-3.679,0.411-4.667-0.063c-0.678-0.325-1.246-0.768-1.716-1.25c-0.473,0.488-1.045,0.938-1.732,1.267
	c-1.417,0.68-3.032,0.701-4.667,0.063c-4.293-1.677-5.195-5.222-5.385-6.668c-0.643-1.231-5.345-9.008-20.699-7.474
	C58.342,61.808,49.211,74.064,48.187,75.51L9.938,166.435z M74.908,154.989c2.21,2.986,7.214,8.999,14.469,13.399
	c8.541,5.181,15.406,7.836,17.449,8.575c2.042-0.738,8.907-3.394,17.448-8.575c7.255-4.4,12.259-10.413,14.47-13.399
	c-2.244-1.088-3.857-3.282-4.128-5.869h-55.58C78.766,151.707,77.153,153.901,74.908,154.989z M7.937,156.016
	c-0.087,0.49-0.306,2.139,0.112,4.594L44.58,73.768c0.048-0.114,0.107-0.224,0.175-0.327c0.413-0.625,10.329-15.326,29.198-17.213
	c15.332-1.533,21.818,5.32,23.962,8.485c1.441-0.316,3.605-0.633,5.421-0.244c1.465,0.314,2.642,1.062,3.499,1.799
	c0.855-0.732,2.025-1.471,3.479-1.782c1.816-0.39,3.979-0.073,5.421,0.244c2.145-3.165,8.631-10.021,23.963-8.485
	c18.868,1.887,28.785,16.589,29.198,17.214c0.068,0.104,0.127,0.213,0.175,0.327l36.52,86.815c0.421-2.462,0.205-4.113,0.123-4.585
	l-35.938-82.992c-0.141-0.324-0.192-0.679-0.151-1.029c0.024-0.211,2.294-21.592-12.104-42.693
	c-12.053-17.664-34.092-19.844-40.684-20.094v44.714c4.577-3.25,13.323-8.306,23.086-7.922c13.947,0.542,25.446,11.496,25.93,11.962
	c0.794,0.767,0.815,2.032,0.05,2.826c-0.766,0.795-2.031,0.819-2.827,0.053c-0.107-0.104-10.907-10.362-23.308-10.844
	c-12.366-0.46-23.479,9.415-23.591,9.514c-0.588,0.529-1.433,0.661-2.152,0.342c-0.722-0.321-1.188-1.037-1.188-1.827V7.183
	c0-0.1,0.008-0.198,0.021-0.294V4h-12.067v2.885c0.015,0.097,0.022,0.196,0.022,0.297v50.843c0,0.79-0.466,1.505-1.188,1.827
	c-0.722,0.321-1.566,0.187-2.153-0.342c-0.11-0.1-11.216-9.992-23.59-9.514c-12.401,0.481-23.201,10.74-23.309,10.844
	c-0.794,0.765-2.061,0.743-2.827-0.053c-0.766-0.795-0.744-2.059,0.05-2.826c0.483-0.466,11.982-11.42,25.93-11.962
	c9.75-0.392,18.508,4.672,23.085,7.921V9.207c-6.59,0.249-28.63,2.429-40.684,20.094C41.733,50.402,44.002,71.783,44.026,71.997
	c0.041,0.349-0.012,0.704-0.151,1.026L7.937,156.016z M141.951,144.974c-1.861,0-3.375,1.514-3.375,3.375s1.514,3.375,3.375,3.375
	s3.375-1.514,3.375-3.375S143.812,144.974,141.951,144.974z M71.701,144.974c-1.861,0-3.375,1.514-3.375,3.375
	s1.514,3.375,3.375,3.375s3.375-1.514,3.375-3.375S73.562,144.974,71.701,144.974z M125.481,145.121h7.498l-7.498-13.087V145.121z
	 M117.154,145.121h4.327v-20.036c0-0.011,0-0.021,0-0.032l-4.327-7.553V145.121z M108.826,145.121h4.328v-34.602l-2.744-4.79
	c-0.442-0.772-0.983-1.384-1.584-1.811V145.121z M100.498,145.121h4.328v-41.302c-0.659,0.428-1.252,1.076-1.73,1.91l-2.614,4.562
	c0.011,0.085,0.017,0.171,0.017,0.259V145.121z M92.171,145.121h4.328v-27.877l-4.344,7.583c0.011,0.085,0.017,0.171,0.017,0.259
	V145.121z M80.527,145.121h7.644v-13.342L80.527,145.121z M123.586,108.208l20.381,25.314l16.909-18.287L123.586,108.208z
	 M52.777,115.236l16.909,18.287l20.381-25.314L52.777,115.236z M99.415,68.494c0.377,0.741,1.099,1.592,2.476,2.13
	c0.791,0.308,1.224,0.18,1.482,0.056c0.463-0.222,0.844-0.695,1.116-1.139c-0.466-0.455-1.159-0.984-1.99-1.162
	C101.632,68.194,100.437,68.311,99.415,68.494z M109.176,69.546c0.274,0.444,0.653,0.906,1.112,1.122
	c0.257,0.12,0.688,0.245,1.473-0.061c1.355-0.53,2.076-1.364,2.458-2.1c-1.065-0.188-2.243-0.287-3.066-0.112
	C110.331,68.572,109.643,69.092,109.176,69.546z M138.358,101.212c-3.932,0-7.845-0.355-11.275-1.309
	c-6.486-1.802-10.436-6.403-11.421-13.306c-0.08-0.556-0.129-1.151-0.146-1.768c-0.181-6.607,3.656-12.958,9.773-16.181
	c4.746-2.501,10.194-3.77,16.193-3.77c16.55,0,22.635,13.847,22.988,20.553c0.304,5.772-2.602,13.038-11.786,14.519
	C148.548,100.618,143.437,101.212,138.358,101.212z M141.482,68.879c-5.343,0-10.163,1.113-14.328,3.309
	c-4.78,2.519-7.779,7.438-7.641,12.531c0.014,0.464,0.05,0.906,0.107,1.312c0,0,0,0,0,0.001c0.755,5.284,3.625,8.654,8.532,10.017
	c7.546,2.096,18.208,0.87,23.895-0.047c8.256-1.331,8.538-8.266,8.429-10.359C160.29,82.102,156.518,68.879,141.482,68.879z
	 M75.294,101.212c-5.08,0-10.189-0.594-14.327-1.261c-9.185-1.481-12.089-8.747-11.785-14.519
	c0.353-6.706,6.437-20.553,22.988-20.553c5.998,0,11.446,1.268,16.193,3.77c6.118,3.224,9.954,9.574,9.773,16.18
	c-0.017,0.614-0.065,1.209-0.145,1.769c-0.986,6.904-4.936,11.505-11.422,13.307C83.139,100.856,79.225,101.212,75.294,101.212z
	 M72.17,68.879c-15.037,0-18.807,13.223-18.994,16.763c-0.11,2.094,0.172,9.028,8.428,10.359c5.687,0.918,16.353,2.144,23.895,0.047
	c4.907-1.363,7.777-4.733,8.532-10.017c0.058-0.408,0.094-0.85,0.107-1.313v0c0.139-5.094-2.859-10.013-7.639-12.531
	C82.332,69.992,77.511,68.879,72.17,68.879z M111.924,95.305h-10.197c-1.104,0-2-0.896-2-2s0.896-2,2-2h10.197c1.104,0,2,0.896,2,2
	S113.029,95.305,111.924,95.305z M109.979,89.258h-6.306c-1.104,0-2-0.896-2-2s0.896-2,2-2h6.306c1.104,0,2,0.896,2,2
	S111.084,89.258,109.979,89.258z M109.979,83.125h-6.306c-1.104,0-2-0.896-2-2s0.896-2,2-2h6.306c1.104,0,2,0.896,2,2
	S111.084,83.125,109.979,83.125z"/>
</svg>
    <h3 class="my-3">Spaceships upcoming...</h3>
</div>