<div class="row">

  {{!-- counter --}}
    {{#if this.starShips}}
    <div class="col-6 my-4 d-flex">
        <div class="counter m-auto">First Side: {{this.firstWinCount}}</div>
    </div>
    <div class="col-6 my-4 d-flex">
        <div class="counter m-auto">Second Side: {{this.secondWinCount}}</div>
    </div>
    {{/if}}
    {{!-- //counter --}}

  {{#each this.starShips as |ship|}}
  <div class="col-6 my-4">
    <Card @ship={{ship}}
          @criteria={{this.criteria}}
    />
  </div>
  {{/each}}

  <div class="col-12 d-flex main_btn_wrap">

      {{#if this.draw}}
        <span class="badge badge-danger result_badge">Dead heat! No winners!</span>
      {{/if}}

      <button type="button" class="init_btn btn btn-lg btn-info mx-auto my-4"
          disabled="{{if this.loadingInProgress "disabled"}}"
          {{on "click" this.getStarShips}}>
          {{if this.starShips "Play again!" "Play!"}}
        </button>
      <h3 class="mt-4">Change the source of force!</h3>

      <select class="form-control w-auto my-3" {{on "change" this.setForce}}>
          {{#each this.listOfForce as |force|}}
              <option>{{force}}</option>
          {{/each}}
      </select>
  </div>
  
</div>
